@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body{
    background:url(../img/star-wars-nawpic-11.jpg);
    background-size: cover;
    
}

.headerStyle{
    background-color: black;
    text-transform: capitalize;
    color: yellow;
    font: bold;
    height:100px;
    padding-top: 20px;
    font-family: 'Anton', sans-serif;
}
.container2{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    
}
.container{
    height:100%;
    width: 320px;
    margin:0 auto;
    margin-top:10vh;
}

.card{
    background-color: black;
    padding:8px;
    border-radius: 12px;
    border:1px solid #BACDD8;
    transition: 0.5s ease-in-out;

     
}
.card:hover{
    transform: translateY(35px)
}

.tag{
margin-top: 10px;
padding: 4px 8px;
border:1px solid #E5EAED;
border-radius: 50px;
font-size: 12px;
font-weight: 600;
color: #788697;


}

.name{
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    font-family: 'Anton', sans-serif;
    
}

p{
    font-size: 20px;
    color: white;
    line-height: 100%;
    overflow: hidden;
    
}

